@charset "utf-8";

body { background-color: #91009C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='0' stroke-opacity='0.05' %3E%3Ccircle fill='%2391009C' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23890397' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23820592' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%237a078c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23730887' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%236c0981' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23650a7c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%235e0a76' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23570a71' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23500a6b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%234a0966' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23430960' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233d085a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23370855' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2331074f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232c0649' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23260544' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2321043E' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    overflow: hidden;
}

main{
    height: 100vh;
    position: relative;
}

#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png);
    
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width:267px;
    height:472px;
}

nav {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


nav > ul > li{
    list-style: none;
    width: 110px;
    position: relative;
    top: 32px;
    padding: 3px;
}

.buttons{
    border: 0px;
    border-radius:300px;
    padding: 12px;
    transition: transform .2s; 
    margin: 10px;
    margin-right:45px;
}

#home{
    background: linear-gradient(135deg, hsla(291, 33%, 68%, 1) 1%, hsla(294, 17%, 89%, 1) 67%);
}

#instagram{
    background: linear-gradient(135deg, hsla(285, 56%, 48%, 1) 0%, hsla(40, 100%, 61%, 1) 100%);
}

#github{
    background: linear-gradient(135deg, hsla(212, 10%, 25%, 1) 0%, hsla(0, 0%, 77%, 1) 100%);
}

#twitter{
    background: linear-gradient(135deg, hsla(212, 77%, 50%, 1) 0%, hsla(218, 63%, 74%, 1) 100%);
}

#youtube{
    background: linear-gradient(135deg, hsla(0, 86%, 22%, 1) 1%, hsla(0, 78%, 47%, 1) 80%);
}

.logos:hover{
    transform: scale(1.2);
}